header {
    height: 100px;
    width: 100%;
    background-color:black;
    color: cadetblue;
}

nav {
    border-style: solid;
    border-color: darkgoldenrod;
    color:darkslategray;
    padding: auto;
}